    <nav class="nav-panel">
			    <!-- Sidebar -->
    <div class="sidebar-heading">Для работы выберите один из инструментов:</div>
        <div class="list-group list-group-flush">
			<a href="#" class="list-group-item list-group-item-action bg-light" id="selectionMode">Режим выбора</a>
			<a href="#" class="list-group-item list-group-item-action bg-light" id="drawingMode">Режим рисования</a>
			<a href="#" class="list-group-item list-group-item-action bg-light" id="deleteGroup">Удаление выбраного объекта (ов)</a>
			<div class="list-group-item list-group-item-action bg-light">
				<label for="figureColor">Выбрать цвет фигуры:</label> 
				<input type="color" id="figureColor">
			</div>
			<p class="list-group-item list-group-item-action bg-light">
				<label for="bgColor">Выбрать цвет фона:</label> 
				<input type="color" id="bgColor">
			</p>
			<form class="list-group-item list-group-item-action bg-light">
			<p>
				<label for="shape">Выберите тип фигуры:</label> 
				<select id="shape">
					<option value="none" selected="selected">Без фигур</option>
					<option value="circles">Круг</option>
					<option value="squares">Квадрат</option>
					<option value="stars">Звезда</option>
					<option value="polygons">Многоугольник</option>
					<option value="icons">Иконки</option>
					<option value="all">Все виды фигур</option>					
				</select>
			</p>
			<p>
				<label>Напишите текст для вывода на экран</label>
				<input type="text" id="new_text">
			</p>
			<p>
				<label for="textColor">Выбрать цвет текста:</label>
				<input type="color" id="textColor">
			</p>
			<p>
				<input type="button" id="btn_add_image" value="Создать изображение">
			</p>
		</form>
		<a href="#" class="btn btn-danger btn-block btn-primary" id="clearScreen">Очистить экран!</a>
        </div>

    </div>
		
    </nav>
          
    <div class="navbar navbar-inverse navbar-fixed-top">      
        
        <!--Include your brand here-->
        <a class="navbar-brand" href="#">Выбор фигур:</a>
		<div class="navbar-header pull-center">
			<div class="wrapper">
		        <div class="d-flex flex-nowrap align-items-start">
                        <div id="addRectangle" >
						<svg height="40" width="40"><rect x="0" y="0" width="50" height="50" fill="#2ecc71"/></svg>
                        </div>
					    <div id="addCircle" >
						<svg height="40" width="40"><circle cx="20" cy="20" r="19" fill="red" /></svg>
                        </div>
					    <div id="addStar" >
						<svg class="icon" xmlns="http://www.w3.org/2000/svg" width="55px" height="50,41px" viewBox="0 0 300 275" version="1.1">
						<polygon fill="orange" stroke="orange" stroke-width="10" color="orange" points="150,25 179,111 269,111 197,165  223,251 150,200 77,251 103,165 31,111 121,111"/>
						</svg>
                        </div>
						<div id="addPolygon" >
						<svg height="50" width="50" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
						<g><path d="M197.2,966L10,390L500,34l490,356L802.8,966H197.2z"/></g>
						</svg>
						</div>
						<div id="addIcon" >
						<i class="fa fa-flag fa-2" aria-hidden="true"></i>
						</div>
                </div>
			</div>
        </div>
        <div class="navbar-header pull-right">
          <a id="nav-expander" class="nav-expander fixed">
            ИНСТРУМЕНТЫ&nbsp;&nbsp;<i class="fa fa-bars fa-lg white"></i>
          </a>
        </div>
    </div>

<div class="container" ng-cloak>
    <div class="row">
	    <div class="col-md-12">
            <h3>Участники:</h3>
            <div ng-repeat="user in users">
                \{{user[0]}}
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12" id="canvas-container">
                    <canvas id="fabricjs" width="800" height="500"></canvas>
                </div>
				<div class="myMenu" id="myMenu">
					<ul>
						<li>Select to Drop</li>
						<li><a href="#" id="deletePawn">Delete</a></li>
					</ul>
				</div>
            </div>
        </div>
		<div class="col-md-12">


			

        </div>
    </div>
</div>